:root {
    --deeppurple: #542344;
    --nicemint: #53DD6C;
    --burntsienna: #EE6C4D;
    --lightblue: #9EADC8;
    --midblue: #5B618A;
    --gray5: #8f8f8f;
    --gray6: #c2c2c2;
    --gray7: #E0E0E0;
}


/* body universal rules */


ul li {
    display: inline;
}

a { 
    text-decoration: none;
    color: inherit;
}

.nav-top, .footer-legal {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.orange-link-headline {
    color: #f42;
    text-decoration: none;
    letter-spacing: -.015rem;
    font-size: 28px;
    font-family: 'Secular One', sans-serif;
}


/* header */

.header-box {
    width: 100%;
    /* height: 100px; */
    background-color: var(--burntsienna);
    /* position: fixed; */
    top: 0;
}



.nav-top {
    display: flex;
    height: 32px;
    background-color: #131313;
    color: rgba(255, 255, 255, 0.6);
    justify-content: space-between;
    align-items: center;
    
    
}
.nav-top > * {
    padding: 0 20px;
}

.nav-top-links-left li, .nav-top-links-right li {
    padding-right: 8px;
}

/* first item in menu not opaque */

#news, .nav-top li:hover {
    color: rgba(255, 255, 255, 1);
}
#sticky-header {
    height: 78px;
    margin-bottom: 5px;
   
}

.sticky-header-top {
    display: flex;
    justify-content: space-between;
    background-color: white;

}

.sticky-header-left {
    display: flex;
    align-items: center;
}

#logo-box img {
    padding: 16px 20px;
}

.logo-box-hidden {
    display: none;
 }
 
 .logo-box-visible {
     width: 106px;
     height: 48px;

    
     background-image: -webkit-gradient(linear, left top, right bottom, from(#d9117a), to(#f74120));
        background-image: -o-linear-gradient(top left, #d9117a, #f74120);
        background-image: linear-gradient(to bottom right, #d9117a, #f74120);

 }

 .sticky-header-links {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    
    margin-left: 10px;
    /* letter-spacing: 0.1rem; */
 }
 .sticky-header-links li {
     color: rgba(0, 0, 0, 0.6);
     padding: 0 7px;
 }

 .sticky-header-links li:hover {
     color: rgba(0, 0, 0, 1);
 }


/* this is added with js when scrolled */

.sticky-top {
    position: fixed;
    top: 0;
    width: 100%
  }

.sticky-top + .hero-box {
   padding-top: 100px;
}  

.sticky-header-right {
    display: flex;
}

.sticky-header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.6);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.hamburger-menu {
    display: none;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 1.1rem;
    color: #f74120;
    border-left: 1px solid rgba(0, 0, 0, 0.2);

}

.sticky-header-search > i:hover {
   color: rgba(0, 0, 0, 0.8);
}


/* yellow bar */

.yellow-bar {
    

    height: 30px;
    font-size: 12px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffdd33;
    padding-left: 120px;
    color: rgba(0, 0, 0, 0.8);
}

.yellow-bar a:hover {
    color: rgba(0, 0, 0, 1);
}

/* hero  */

.hero-box {
    width: 100%;
    min-height: 450px;
    margin-bottom: 10px;

}


.cover-articles {
    margin: 0 10px;
    display: grid;  
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
}

.cover-article-main {
    /* background-color: rosybrown; */
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    height: 450px; 
    background-image: linear-gradient(to bottom, rgba(191, 68, 195, 0.294) 0%,rgba(0,0,0,0.3) 100%), url('../images/top1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


}

.cover-main-top {
   flex-basis: 70%;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.cover-main-top-logo {
    padding: 20px;
}

.cover-main-top-date {
    padding: 20px;
    font-weight: 700;
}

.main-headline {
    
    padding: 10px 10px 0px 10px;
    font-size: 2.5rem;
    font-weight: 800;
}

.main-bottom-line {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.8);
}

.cover-articles-small {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.overpic-article-headline {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 10px;
}

.cov-art-2 {
    background-image: linear-gradient(to bottom, rgba(111, 38, 160, 0.3) 0%,rgba(0,0,0,0.3) 100%),url('../images/top2.jpg');
}

.cov-art-3 {
    background-image: linear-gradient(to bottom, rgba(146, 34, 137, 0.3) 0%,rgba(0,0,0,0.3) 100%), url('../images/top3.jpg');
}


/*  wrapper for all content to footer - narrower */

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    
}

/* latest */

.latest {
    width: 100%; 
    margin-top: 70px;
    padding: 20px;
    
}   

.latest-box {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;  
}

.latest-box-item {
    flex: 1 0 260px;
    box-sizing: border-box;
}



.latest-box-headline {
    text-decoration: none;
    letter-spacing: -.015rem;
    font-weight: 700;
}

.latest-pic-container {
    max-width: 270px;
    max-height: 135px;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 5px;

}

.latest-pic-container a {
}

.latest-pic-container img  {
    max-height: 100%;
    max-width: 100%;
    padding-left: 10px; 
}

.latest-box-item h4 {
    padding-left: 10px;
    max-width: 80%;
}


.latest-box-item h4:hover {
    color: #f42;
}

.latest-box h3 {
    color: #aaa;
}

/* funding section */

.funding {
    height: 375px;
    background-color: var(--deeppurple);
}

/*  section links */

.section-links {
    height: 2000px;
    background-color: var(--midblue);
}

/* latest deals */

.latest-deals {
    height: 650px;
    background-color: #F5BB00;
}

/* footer */

footer {
    height: 275px;
    background-color: #BBDBB4;
}



/* media queries */

@media all and ( max-width: 1024px ) {

.logo-box-hidden {
    display: inherit;
    width: 106px;
    height: 48px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#d9117a), to(#f74120));
    background-image: -o-linear-gradient(top left, #d9117a, #f74120);
    background-image: linear-gradient(to bottom right, #d9117a, #f74120);
 }

.cover-main-top {
    display: none;
} 


} 


@media all and ( max-width: 1085px)  {
    .latest-box-item {
        max-width: 33.333333%;
    }

}

@media all and ( max-width: 770px ) {
    .nav-top {
        display: none;
    }

    .sticky-header-links {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }


    .cover-articles { 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .cover-article-main {
        grid-column: 1 / -1;
        grid-row: 1 / span 1;
        height: 175px;
        
    }

    .main-headline {
        font-size: 1.5rem;
    }

    .cover-articles-small {
        height: 175px;
    }

    /* latest */

    .latest-box {
        flex-direction: column;
    }

    .latest-box-item {
        max-width: 100%; 
        min-height: 0px;
        max-height: 88px;
        margin-right: 30px;
    }

    .latest-box-pic-link img {
        
        float: left;
        padding-right: 10px;
        height: 75px;
        width: 75px;
    }

    .latest-pic-container {
        /* height: 75px; */
        /* width: 75px; */
        display: inline;
    }

    .latest-pic-container a {
        /* display: inline; */
    }

    .latest-box-item h4 {
        padding-left: 0px;
        max-width: 100%;
    }
}